<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block titolo %}Libreria{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="/libri/">Catalogo</a>

      {% if user.is_authenticated %} <p>Ciao, {{ user.username }}!</p>  
       | <a href="{% url 'aggiungi_libro' %}">Aggiungi libro</a>
      
      <a href="{% url 'logout' %}">Esci</a>

      {% else %}

      <a href="{% url 'login' %}">Accedi</a> 
      <a href="{% url 'registrazione' %}">Registrati</a>

      {% endif %}
    </nav>

    <hr />
    <main>{% block contenuto %}{% endblock %}</main>
  </body>
</html>
