{% extends 'base.html' %} {% block titolo %}Catalogo libri{% endblock %} 
{%block contenuto %}
<h1>Catalogo</h1>

<div class="container-libri">

  {% for libro in libri %}
  <div class="card">
    <div class="info">
      <h2>{{ libro.titolo }}</h2>
      <p>{{ libro.autore }}</p>
      <p>{{ libro.prezzo }} €</p>
      <p>{{ libro.genere }}</p>
    </div>


    <div class="link-container">
      <a href="{% url 'dettaglio_libro' libro.pk %}" class="link">
        <i class="bi bi-info-square"></i>
      </a>

      {% if user.is_superuser %}

        <a href="{% url 'modifica_libro' libro.pk %}" class="link">
        <i class="bi bi-pencil-square"></i>
        </a>

        <a href="{% url 'elimina_libro' libro.pk %}" class="link">
        <i class="bi bi-recycle"></i>
        </a>
      {% endif %}
    </div>
  </div>

  {% empty %}

  <p>Nessun libro nel catalogo.</p>

  {% endfor %}
</div>
{% endblock %}