{% extends 'base.html' %} {% block titolo %}Catalogo libri{% endblock %} 
{%block contenuto %}
<h1>Catalogo</h1>

{% for libro in libri %}
<div>
  <h2>{{ libro.titolo }}</h2>
  <p>Autore: {{ libro.autore }}</p>
  <p>Prezzo: {{ libro.prezzo }} €</p>

  <a href="{% url 'dettaglio_libro' libro.pk %}">Dettagli</a>

  {% if user.is_staff %} | <a href="{% url 'modifica_libro' libro.pk %}">Modifica</a> | <a href="{% url 'elimina_libro' libro.pk %}">Elimina</a>
  {% endif %}
</div>
<hr />

{% empty %}

<p>Nessun libro nel catalogo.</p>

{% endfor %}

{% endblock %}
